@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  @apply bg-maastricht-blue text-maastricht-blue;
}

*::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

*::selection {
  background: #5f90e390;
}

/* Add a thumb */
*::-webkit-scrollbar-thumb {
  background: #1A1D1A;
  border-radius: 6px;
}
*::-webkit-scrollbar-track {
  background: transparent;
}

@layer base {
  .button-simple {
    @apply font-bold text-white rounded-full text-sm px-5 py-2 uppercase cursor-pointer block w-fit duration-150 hover:underline
  }
  .button-primary {
    @apply bg-khaki text-maastricht-blue rounded-full text-sm px-5 py-2 border-2 border-khaki font-bold uppercase cursor-pointer block w-fit duration-150 hover:bg-transparent hover:text-khaki
  }

  .button-primary-two {
    @apply bg-maximum-blue-green text-maastricht-blue rounded-full text-sm px-5 py-2 border-2 border-maximum-blue-green font-bold uppercase cursor-pointer block w-fit duration-150 hover:bg-transparent hover:text-maximum-blue-green
  }

  .button-secondary {
    @apply  text-white rounded-full text-sm px-5 py-2 border-2 border-white font-bold uppercase cursor-pointer block w-fit duration-150 hover:bg-white hover:text-maastricht-blue
  }

  .button-bg-secondary {
    @apply text-white rounded-full text-sm px-5 py-2 border-2 border-maximum-blue-green font-bold uppercase cursor-pointer block w-fit duration-150 hover:bg-maximum-blue-green hover:border-maastricht-blue hover:text-maastricht-blue
  }

  .button-bg-secondary-two {
    @apply text-maastricht-blue rounded-full text-sm px-5 py-2 border-2 border-maastricht-blue font-bold uppercase cursor-pointer block w-fit duration-150 hover:text-white hover:bg-maastricht-blue hover:border-maximum-blue-green
  }
}
